@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Parisienne&display=swap');

html {
  scroll-behavior: smooth;
}




#root {

  font-family: 'Comic Neue', cursive;

}

#home-img {
  width: 400px;
  height: 800px;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

#invite-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}


button:hover {
  color: white !important;
}
.a {
  color: #0dcaf0 !important;
  text-decoration: none;
  font-size: 15px;
  line-height: 1.5;
}

#registry-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}